.chat {
    &_container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &_messagesWrapper {
        flex: 1;
        overflow: auto;
    }

    &_list {
        &_item {
            border-block-end: none !important;
        }

        & svg {
            fill: blue;
        }

        &_userMessage {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;

            & div:first-child {
                width: 30px;
                margin: 24px 24px 0 0;
                flex: none !important;

                & div {
                    margin: 0;
                }
            }

            &_content {
                background-color: #f3f3f3;
                border-radius: 20px;
                padding: 24px;
                flex: 1;
                max-width: 600px;
            }
        }

        &_botMessage {
            &_content {
                max-width: 900px;
                padding-bottom: 24px;
            }
        }
    }
}